<div layout-fill class="default-layout" layout="column">
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1" flex="initial">
        <div class="md-toolbar-tools">
            <h2>
                <span>Demo</span>
            </h2>
        </div>
    </md-toolbar>
    <!-- CONTENT -->
    <md-content>
        <final-back-button>
        </final-back-button>
        <br />
        <br />
        <br />
        <br />
        <final-loading>
        </final-loading>
    </md-content>
</div>
