<div layout-fill class="default-layout" layout="column">
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-whiteframe-z1" flex="initial">
        <div class="md-toolbar-tools">
            <h2>
                <span>Demo 2</span>
            </h2>
        </div>
    </md-toolbar>
    <!-- CONTENT -->
    <md-content>
        <final-back-button>
        </final-back-button>
        <br />
        <br />
        <br />
        <br />
        <center>
            <md-button class="md-raised md-primary" ng-click="openDialog(5)">
                Abrir por 5 segundos
            </md-button>
            <br />
            <md-button class="md-raised md-primary" ng-click="openDialog(10)">
                Abrir por 10 segundos
            </md-button>
        </center>
    </md-content>
</div>
